<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=AMIT-DEV2\SQL2017;Initial Catalog=Test_Shanti_New;User ID=sa;Password=pctadmin$123;"/>
  </connectionStrings>
  <appSettings>
    <add key="EnableLogs" value="true"/>
    <!-- Enable/disable data collection for production analytics -->
    <add key="LiveDataEnabled" value="true"/>
    <!-- Delay time in sec. 0 to disable the feature  -->
    <add key="TPMTrakDataCollectionTimeDelay" value="1"/>
    <!-- if macro flag at machine is high(1), do not dprint at machine. value="0" means this feature is disabled.-->
    <add key="OperationHistory_FlagLocation" value="0"/>
    <!-- if falg is high(1), do not download the operation history at s/w. value="0" means this feature is disabled.-->
    <add key="DPRINT_FlagLocation" value="0"/>     
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="1"/>
  </runtime>
</configuration>
